#example-1 .container {
    flex-flow: row wrap;
}

#example-2 .container {
    flex-flow: column wrap;
}

#example-3 .container {
    flex-flow: row nowrap;
}

#example-4 .container {
    flex-flow: row wrap;
    justify-content: center;
}

#example-5 .container {
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#example-6 .container {
    flex-flow: row wrap;
    align-items: center;
    height: 30vh;
}

#example-7 .container {
    flex-flow: row wrap;
    height: 40vh;
    align-content: space-between;
}

#example-8 .container {
    flex-flow: row wrap;
    height: 40vh;
    align-content: center;
}

#example-9 .container {
    flex-flow: row wrap;
    height: 20vh;
    justify-content: center;
    align-items: center;
}